{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <br>
            <h3>404 - Page not found
                <br>
                <br>
                <strong>Something went wrong, to return the homepage
                    press the link below
                </strong>
                <br>
                <a class="btn border-dark bd-highlight text-black btn-clear my-4" href="{% url 'index' %}">back</a>
        </div>
    </div>
</div>
{%endblock%}