{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- About page -->

<section>
    <div class="container-fluid bg-dark text-white">
        <div class="row g-0 align-items-center hero-section ">
          <div class="col-sm text-center">
            <h1 class="red-c">About Us</h1>
            <h3 class="mx-5">Welcome to Universal Blogs, we offer blogs that all vary in different topics. 
                <br>Users can also create their own blogs and display them in the blog section  </h3>
          </div>
          <div class="col-sm">
            <img src="{% static 'images/blog.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
</section>

<section>
    <div class="container-fluid text-center">
    <h1 class="my-5 red-c">How to create a blog</h1>

        <div class="row">
            <div class="col-sm align-self-center">
                <h2 class="red-c ">step 1</h2>
                <p>First you need to create a account, enter the required details</p>  
            </div>
            <div class="col-sm align-self-center">
                <img src="{% static 'images/create-account.jpeg' %}" height="70%" width="50%" alt="">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm align-self-center">
                <img src="{% static 'images/sign-in.jpeg' %}" height="100%" width="50%" alt="">
            </div>
            <div class="col-sm align-self-center">
                <h2 class="red-c">step 2</h2>
                <p>Next sign in with your account details </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm align-self-center">
                <h2 class="red-c">step 3</h2>
                <p>Create new post and write your blog</p>
            </div>
            <div class="col-sm align-self-center">
                <img src="{% static 'images/create-post.jpeg' %}" height="70%" width="50%" alt="">

            </div>
        </div>
    </div>
</section>

{% if user.is_authenticated %}
{% else %}
<section>
    <div class="container-fluid sign-up-color text-center">
        <div class="row">
            <div class="col-sm my-5">
                <h2 class="mb-3 bold-text">Get started here<br> click the button below</h2>
                
                <a class="btn border-dark btn-clear text-black" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
        </div>
    </div>
</section>
{% endif %}


{%endblock%}