{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row ">
        <div class="col-sm d-flex flex-column">
            <small >{{ post.topic }}</small>
            <h2 >{{ post.title }}</h2>
            <small >{{ post.updated_on }}</small>
            <img  src="{{ post.featured_image }}" height="200px" width="200px" alt="">
            <!-- <img src="" alt="back up image"> -->
            <p >{{ post.content|safe }}</p>
            <a class="btn" href="{% url 'blog' %}">back</a>
            
        </div>
    </div>
  
</div>


{% endblock %}