{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<section class="container-fluid test-color">
    <div class="d-flex bd-highlight p-3 align-items-center">
        <a href="{% url 'blog' %}" class="p-2 mb-0 bd-highlight r-hover text-black">All Posts</a>
        <a href="{% url 'topic' tops='technology' %}" class="p-2 mb-0 bd-highlight r-hover text-black">Technology</a>
        <a href="{% url 'topic' tops='sports' %}" class="p-2 mb-0 bd-highlight r-hover text-black">Sports</a>
        <a href="{% url 'topic' tops='business' %}" class="p-2 mb-0 bd-highlight r-hover text-black">Business</a>
        {% if user.is_authenticated %}
       <a class="text-black btn border-dark ms-auto m-0 p-2 bd-highlight btn-clear" href="{% url 'add_post' %}">Add Post</a>
        {% else %}
        <a class="ms-auto m-0 p-2 bd-highlight border-dark btn text-black btn-clear" href="{% url 'account_signup' %}">Log in/Sign up</a>
        {% endif %}
        
    </div>
</section>


<section>
    <div class="row d-flex justify-content-center">
        <div class="d-inline-block mb-5" style="width: 800px; background-color: white">
            <div class="col-md p-5">
                <p class="color">{{ post.topics }}</p>
                <div class="d-flex bd-highlight">
                    <p class="bd-highlight">By: {{ post.author }} | <small>{{ post.created_on }}</small></p>
                    <a class="btn border-dark bd-highlight text-black btn-clear ms-auto bd-highlight" href="{% url 'blog' %}">back</a>

                </div>
                <h2 class="mb-4">{{ post.title }}</h2>
              


                {% if "placeholder" in post.featured_image %}
                <img src="{{ post.featured_image.url }}" height="400px" width="100%" alt="...">
                {% else %}
                <img src="{{ MEDIA_URL }}images/earth.jpg" height="400px" width="100%" alt="">
                {% endif %}

                
                <p class="mt-5">{{ post.content|safe }}</p>
                
                <hr class="mt-5 ">
                <div class="d-flex bd-highlight align-items-center">
                    {% if user.is_authenticated %}
                    <a class="btn border-dark bd-highlight m-3 text-black btn-clear" href="{% url 'update_post' post.id %}">Edit</a>
                    <a class="btn border-dark bd-highlight text-black btn-clear" href="{% url 'delete_post' post.id %}">Delete</a>
                    {% else %}
                    <small class="text-muted m-0 p-2">Sign in to edit and delete posts </small>
                    {% endif %}

                    <strong class="ms-auto bd-highlight">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                    class="fa-regular fa-heart heart-color"></i></button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                    class="fa-regular fa-heart heart-color"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="fa-regular fa-heart heart-color"></i></span>
                        {% endif %}
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                    </strong>
                </div>
            </div>
        </div>

        <div class="d-inline-block mb-5 p-5" style="width: 800px; background-color: white">
            <h3>Comments</h3>
            <hr>
            {% if not post.comments.all %}
            No comments yet... <a href="#">Add a comment</a>
            {% else %}
            {% for comment in post.comments.all %}
            <strong>{{ comment.name }} -
                {{ comment.created_on }}
            </strong>
            <br>
            {{ comment.body }}
            <br>
            {% endfor %}
            {% endif %}

        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock %}