{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<section class="container-fluid test-color">
    <div class="d-flex bd-highlight p-3 align-items-center">
        <p class="p-2 mb-0 bd-highlight">All Posts</p>
        <p class="p-2 mb-0 bd-highlight">Technology</p>
        <p class="p-2 mb-0 bd-highlight">Sports</p>
        <p class="p-2 mb-0 bd-highlight">Business</p>
        {% if user.is_authenticated %}
        <button class="btn border-dark ms-auto m-0 p-2 bd-highlight"><a class="text-black" href="{% url 'add_post' %}">Add Post</a></button>
        {% else %}
        <button class="ms-auto m-0 p-2 bd-highlight border-dark btn"><a class="text-black" href="{% url 'account_signup' %}">Log in/Sign up</a></button>
        {% endif %}
        
    </div>
</section>


<section>
    <div class="row d-flex justify-content-center">
        <div class="d-inline-block mb-5" style="width: 800px; background-color: white">
            <div class="col-md p-5">
                <!-- <small>{{ post.topic }}</small> -->
                <div class="d-flex bd-highlight">
                    <p class="bd-highlight">By: {{ post.author }} | <small>{{ post.created_on }}</small></p>
                    <p class="ms-auto bd-highlight"><a href="#"><i class="fa-regular fa-share-from-square text-black"></i></a></p>
                </div>
                <h2 class="mb-4">{{ post.title }}</h2>
              
                <!-- <img class="mb-4" src="{{ post.featured_image }}" height="300px" width="100%" alt=""> -->
                {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/earth.jpg' %}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <!-- <img src="" alt="back up image"> -->
                <p>{{ post.content|safe }}</p>
                
                <hr class="mt-5 ">
                <div class="d-flex bd-highlight align-items-center">
                    <button class="btn border-dark bd-highlight"><a class="text-black" href="{% url 'blog' %}">back</a></button>
                    {% if user.is_authenticated %}
                    <button class="btn border-dark bd-highlight m-3"><a class="text-black" href="{% url 'update_post' post.id %}">Edit</a></button>
                    <button class="btn border-dark bd-highlight"><a class="text-black" href="{% url 'delete_post' post.id %}">Delete</a></button>
                    {% else %}
                    <small class="text-muted m-0 p-2">Sign in to edit and delete posts </small>
                    {% endif %}

                    <strong class="ms-auto bd-highlight">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                    class="fa-regular fa-heart heart-color"></i></button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                    class="fa-regular fa-heart heart-color"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="fa-regular fa-heart heart-color"></i></span>
                        {% endif %}
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                    </strong>
                </div>
                
            </div>



        </div>

        <div class="d-inline-block mb-5 p-5" style="width: 800px; background-color: white">
            <h3>Comments</h3>

            <hr>

            {% for comment in comments %}
            {{ comment.body }}
            {{ comment.name }}
            {{ comment.created_on }}
            {% endfor %}
         

        </div>

        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form}}
                    {{ commented }}

                    {{ comments }}
                    {{ comment_form}}
                    {{ comment_form}}

                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock %}