{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title> {% block title %}Universal Blogs{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/b2fe83387a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><span class="brand"><i
                        class="fa-solid fa-globe"></i>Universal<span class="thin">Blogs</span></span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
                    </li>

                </ul>

                <div class="navbar-text text-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button href="{% url 'index' %}" class="btn border-white text-white" type="submit">{% trans 'Sign Out' %}</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn border-white text-white mx-3" href="{% url 'account_signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn border-white text-white" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main class="main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- footer -->
    
    <footer class="footer mt-auto py-3 dark-bg">
        <div class="container">
            <div class="row">
                <div class="col center">
                    <div class="position">
                        <div class="heading">Links</div>
                        <a class="r-hover" href="{% url 'about' %}">About</a>
                        <a class="r-hover" href="{% url 'blog' %}">Blog</a>
                        <a class="r-hover" href="{% url 'contact' %}">Contact</a>
                    </div>

                </div>
                <div class="col center">
                    <div class="position">
                        <div class="heading mb-2">Find Me</div>
                        <a href="https://www.linkedin.com/in/ethan-wicks-635b40227/" target="_blank"><i class="fa-brands fa-linkedin p-3 r-hover"></i></a>
                        <a href="https://github.com/Ewicks" target="_blank"><i class="fa-brands fa-github p-3 r-hover"></i></a>
                    </div>

                </div>
                <div class="col center">
                    Copyright by Ethan Wicks © <span id="copyright-year">2020</span>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.querySelector('#copyright-year').innerText = new Date().getFullYear();
    </script>
    {% block js %}{% endblock %}

</body>

</html>
