{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

<!-- Blog page -->
<main class="blogs-bg">
    <section class="container-fluid">
        <div class="row bg-dark">
            <div class="col-sm">
                <h1 class="text-center p-5 red-c">Universal Blogs</h1>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="d-flex bd-highlight py-3 align-items-center">
            <a href="{% url 'blog' %}" class="p-2 mb-0 bd-highlight text-black r-hover">All Posts</a>
            <a href="{% url 'topic' tops='technology' %}"
                class="p-2 mb-0 bd-highlight text-black r-hover">Technology</a>
            <a href="{% url 'topic' tops='sports' %}" class="p-2 mb-0 bd-highlight text-black r-hover">Sports</a>
            <a href="{% url 'topic' tops='business' %}" class="p-2 mb-0 bd-highlight text-black r-hover">Business</a>
            <a href="{% url 'topic' tops='other' %}" class="p-2 mb-0 bd-highlight text-black r-hover">Other</a>
            {% if user.is_authenticated %}
            <a href="{% url 'add_post' %}" class="btn border-dark btn-clear text-black ms-auto m-0 p-2 bd-highlight">Add
                Post</a>
            {% else %}
            <a href="{% url 'account_signup' %}"
                class="ms-auto m-0 p-2 bd-highlight btn border-dark btn-clear text-black">Log in/Sign up</a>
            {% endif %}
        </div>
        <form class="d-flex" method=POST action="{% url 'search_posts' %}">
            {% csrf_token %}
            <input class="form-control me-2 " type="search" placeholder="Search Articles"
                aria-label="Search Articles" name="searched" style="width: 600px;">
            <button class="btn btn-outline-info search_button" type="submit">Search</button>
        </form>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in object_list %}

            <div class="col my-5">
                <div class="card h-100 bg-white">
                    {% if "placeholder" in post.featured_image.url %}
                        {% if post.topics == 'technology' %}
                        <img src="https://res.cloudinary.com/ethan123/image/upload/v1663687959/static/images/technology_oqsk9j.jpg"
                            alt="">
                        {% endif %}
                    
                        {% if post.topics == 'sports' %}
                        <img src="https://res.cloudinary.com/ethan123/image/upload/v1663687945/static/images/sports_fnhtqw.jpg"
                            alt="">
                        {% endif %}
                        
                        {% if post.topics == 'business' %}
                        <img src="https://res.cloudinary.com/ethan123/image/upload/v1663608825/business_yna114.jpg" alt="">
                        {% endif %}

                        {% if post.topics == 'others' %}
                        <img src="https://res.cloudinary.com/ethan123/image/upload/v1663687952/static/images/other_xcklgt.jpg"
                            alt="">
                        {% endif %}
                    {% else %}
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    



                    <div id="card-details" class="card-body">
                        <h5 class="card-title"> <a id="title-hover" class="text-black title-hover"
                                href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h5>
                        <small>By: {{ post.author }} </small>

                        <p class="card-text">{{ post.content|safe|truncatechars:30 }}</p>
                        {% if user.is_authenticated %}
                        <a class="text-black" href="{% url 'update_post' post.id %}">Edit</a>
                        <a class="text-black" href="{% url 'delete_post' post.id %}">Delete</a>
                        {% endif %}
                        <hr>
                        <p class="card-text text-muted h6">{{ post.created_on }} <i
                                class="fa-regular fa-heart heart-color"></i>
                            {{ post.number_of_likes }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <p class="text-center">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
        
        <div class="d-flex justify-content-center">
            <ul style="margin-left: 10px;" class="pagination ">
                {% if page_obj.has_previous %}
                <li class="px-2"><a class="p-2 bd-highlight btn border-dark btn-clear text-black" href="?page=1">&laquo; first</a></li>
                <li class="px-2"><a class="p-2 bd-highlight btn border-dark btn-clear text-black" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                <li class="px-2"><a class="p-2 bd-highlight btn border-dark btn-clear text-black align-items-center" href="?page={{ page_obj.next_page_number }}">next page</a></li>
                <li class="px-2"><a class="p-2 bd-highlight btn border-dark btn-clear text-black" href="?page={{ page_obj.paginator.num_pages }}">last page</a></li>
                {% endif %}
            </ul>
        </div>
       
    </section>

    <section class="container">

        <div class="row">
            <div class="col">
                <div class="widget">
                    <div class="latest-title">
                        <h4><strong>Categorys</strong></h4>
                    </div>
                    <div class="widget-tags">
                        <ul class="p-0 align-items-center">
                            <li><a class="r-hover" href="{% url 'blog' %}">All Posts</a></li>
                            <li><a class="r-hover" href="{% url 'topic' tops='technology' %}">Technology</a></li>
                            <li><a class="r-hover" href="{% url 'topic' tops='business' %}">Business</a></li>
                            <li><a class="r-hover" href="{% url 'topic' tops='sports' %}">Sports</a></li>
                            <li><a class="r-hover" href="{% url 'topic' tops='other' %}">Other</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="widget">
                    <div class="latest-title">
                        <h4><strong>Latest Posts</strong></h4>
                    </div>
                    <ul class="widget-latest-posts">
                        {% for post in object_list %}
                        {% if forloop.counter < 3 %}
                        <li class="latest-posts">
                            <div class="image">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="latest-img" src="{% static 'images/' %}{{ post.topics }}.png" height="75" width="75" class="card-img-top"
                                    alt="..." src="{% url 'article-detail' post.pk %}">
                                {% else %}
                                <img src="{{ post.featured_image.url }}" class="card-img-top" alt="...">
                                {% endif %}
                            </div>
                            <div class="content">
                                <strong><a class="r-hover" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></strong>
                                <br>
                                <small>by: {{ post.author }}</small>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </section>
</main>

{% endblock %}


{% block js %}
<script>

    document.getElementById("card-details").addEventListener("mouseover", hoverFunction);

    function hoverFunction() {
        document.getElementById("card-details").style.cursor = "pointer";
        document.getElementById("title-hover").style.color = "#EF5C65";
    }

    document.getElementById("card-details").addEventListener("mouseleave", removeFunction);

    function removeFunction() {
        document.getElementById("title-hover").style.color = "black";

    }


    document.getElementById("card-details").addEventListener("click", clickFunction);

    function clickFunction() {
    document.getElementById("title-hover").click();
    }
</script>

{% endblock %}