{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Contact page -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>Contact</h1>
      <form action="" method="POST">
        <h2 class="color">Please fill in the details to contact us</h2>

        {% csrf_token %}
        {{ form.as_p }}

        <input class="btn border-dark btn-clear text-black mb-3 bd-highlight" type="submit" value="Submit">

      </form>
    </div>
  </div>
</div>

{%endblock%}