{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}

<!-- Home page -->
<section class="hero">

    <div class="hero-overlay"></div>
    <img class="hero-img" src="{% static 'images/earth.jpg' %}" alt="">

    <div class="hero__content h-100 container-xxl position-relative">
        <div class="d-flex h-100 align-items-center">
            <div class="text-white">
                <h1>Universal <span class="blogs">Blogs</span></h1>
                <p class="sub-title">kajsd apoijsd apsoka os</p>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button href="{% url 'index' %}" class="btn border-white text-white btn-clear" type="submit">{% trans 'Sign Out' %}</button>
                </form>
                {% else %}
                <button href="{% url 'account_login' %}" type="button" class="btn border-white white btn-clear">{% trans 'Log in'%}</button>
                
                {% endif %}
            </div>

        </div>
    </div>
</section>



{% endblock %}