{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero">

    <div class="hero-overlay"></div>
    <img class="hero-img" src="{% static 'images/earth.jpg' %}" alt="">

    <div class="hero__content h-100 container-xxl position-relative">
        <div class="d-flex h-100 align-items-center">
            <div class="text-white">
                <h1>Universal <span class="blogs">Blogs</span></h1>
                <p class="sub-title">kajsd apoijsd apsoka os</p>
                <button type="button" class="btn border-white white"><a href="{% url 'account_login' %}">Log in</a></button>
            </div>

        </div>
    </div>
</section>



{% endblock %}